<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Information</title>
    <!-- Thêm các thư viện CSS hiện đại (Tailwind CSS) -->
    <link rel="stylesheet" href="https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css">
    <!-- Đường dẫn tới file handlebars.js -->
    <script src="https://cdn.jsdelivr.net/npm/handlebars@4.7.7/dist/handlebars.min.js"></script>
</head>
<body class="bg-gray-100">
<div class="container mx-auto p-4">
    <form id="rental-form" class="mt-4 grid grid-cols-1 md:grid-cols-2 gap-4" method="POST" action="/rental/create-rental/postRental">
        <!-- Bên trái - Thông tin người thuê -->
        <div>
            <input type="hidden" id="image" name="image" value="{{rental.image}}">
            <img src="{{rental.image}}" alt="{{rental.book_title}}" class="w-32 h-46 object-cover rounded-lg">

            <label for="name" class="block font-bold text-gray-700 mt-4">Tên</label>
            <input type="text" id="name" name="name" class="border rounded px-2 py-1 w-full" placeholder="Nhập tên của bạn" required>

            <label for="phone" class="block mt-2 font-bold text-gray-700">Số điện thoại</label>
            <input type="tel" id="phone" name="phone" class="border rounded px-2 py-1 w-full" placeholder="Nhập số điện thoại của bạn" required>

            <label for="identifier" class="block mt-2 font-bold text-gray-700">Mã định danh</label>
            <input type="text" id="identifier" name="identifier" class="border rounded px-2 py-1 w-full" placeholder="Nhập số CCCD hoặc mã HS,SV" required>
            <label for="address" class="block mt-2 font-bold text-gray-700">Địa chỉ</label>
            <input type="text" id="address" name="address" class="border rounded px-2 py-1 w-full" placeholder="Nhập địa chỉ của bạn" required>

            <label class="block font-bold text-gray-700 mt-3">Hình thức thanh toán</label>
            <div class="flex gap-2 mt-2">
                <label class="flex items-center">
                    <input type="radio" name="payment" value="Tiền Mặt" class="mr-2" checked>
                    <span class="text-gray-700">Tiền mặt</span>
                </label>
                <label class="flex items-center">
                    <input type="radio" name="payment" value="Chuyển Khoản" class="mr-2">
                    <span class="text-gray-700">Chuyển khoản</span>
                </label>
            </div>
            <label for="rental_days" class="block font-bold text-gray-700" style="margin-top: 12px">Số Ngày Thuê</label>
            <input type="text" id="rental_days" name="rental_days" class="border rounded px-2 py-1 w-full" readonly>

            <hr class="my-4">

            <!-- Nút Tạo phiếu nằm bên dưới -->
            <button type="submit" id="createReceipt" class="bg-blue-500 text-white rounded px-4 py-2 mt-4">Tạo phiếu</button>
        </div>

        <!-- Bên phải - Thông tin sách -->
        <div>
            <input type="hidden" id="book_id" name="book_id" value="{{rental._id}}">
            <input type="hidden" id="rented" name="rented" value="{{rental.rented}}">
            <label for="book_title" class="block font-bold text-gray-700">Tên Sách</label>
            <input type="text" id="book_title" name="book_title" class="border rounded px-2 py-1 w-full" value="{{rental.book_title}}" readonly>

            <label for="publisher" class="block mt-2 font-bold text-gray-700">Nhà Xuất Bản</label>
            <input type="text" id="publisher" name="publisher" class="border rounded px-2 py-1 w-full" value="{{rental.publisher}}" readonly>

            <label for="publication_year" class="block mt-2 font-bold text-gray-700">Năm Sản Xuất</label>
            <input type="text" id="publication_year" name="publication_year" class="border rounded px-2 py-1 w-full" value="{{rental.publication_year}}" readonly>

            <label for="quantity" class="block mt-2 font-bold text-gray-700">Số Lượng</label>
            <input type="text" id="quantity" name="quantity" class="border rounded px-2 py-1 w-full" value="{{rental.quantity}}" readonly>

            <label for="author_name" class="block mt-2 font-bold text-gray-700">Tác Giả</label>
            <input type="text" id="author_name" name="author_name" class="border rounded px-2 py-1 w-full" value="{{rental.author_name}}" readonly>

            <label for="category_name" class="block mt-2 font-bold text-gray-700">Thể Loại</label>
            <input type="text" id="category_name" name="category_name" class="border rounded px-2 py-1 w-full" value="{{rental.category_name}}" readonly>

            <label for="rental_price" class="block mt-2 font-bold text-gray-700">Giá Thuê</label>
            <input type="text" id="rental_price" name="rental_price" class="border rounded px-2 py-1 w-full text-red-500 font-bold" value="{{rental.rental_price}}" readonly>
            <label for="return_date" class="block mt-2 font-bold text-gray-700">Ngày Trả</label>
            <input type="date" id="return_date" name="return_date" class="border rounded px-2 py-1 w-full" value="{{rental.return_date}}">

            <label for="total_payment" class="block mt-3 font-bold text-gray-700">Tổng Tiền Thanh Toán</label>
            <input type="text" id="total_payment" name="total_payment" class="border rounded px-2 py-1 w-full text-red-500 font-bold" readonly>

        </div>
    </form>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const returnDateInput = document.getElementById('return_date');

        // Lấy ngày hôm sau
        const tomorrow = new Date();
        tomorrow.setDate(tomorrow.getDate() + 1);

        // Định dạng ngày thành YYYY-MM-DD
        const formattedTomorrow = tomorrow.toISOString().split('T')[0];

        // Đặt giá trị mặc định cho trường input kiểu "date"
        returnDateInput.value = formattedTomorrow;
    });
</script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const returnDateInput = document.getElementById('return_date');
        const rentalDaysInput = document.getElementById('rental_days');
        const rentalPriceInput = document.getElementById('rental_price');
        const totalPaymentInput = document.getElementById('total_payment');

        function calculateAndDisplay() {
            const returnDate = new Date(returnDateInput.value);
            const currentDate = new Date();

            // Tính số ngày thuê
            const timeDifference = returnDate.getTime() - currentDate.getTime();
            const rentalDays = Math.ceil(timeDifference / (1000 * 3600 * 24));
            rentalDaysInput.value = rentalDays;

            // Tính tổng tiền thanh toán
            const rentalPrice = parseFloat(rentalPriceInput.value);
            const totalPayment = rentalPrice * rentalDays;
            totalPaymentInput.value = totalPayment.toFixed(0);
            if (rentalDays <= 0) {
                Swal.fire({
                    icon: 'error',
                    title: 'Lỗi',
                    text: 'Số ngày thuê phải lớn hơn 0.',
                });
                // Xóa giá trị ngày trả và số ngày thuê
                returnDateInput.value = '';
                rentalDaysInput.value = '';
                totalPaymentInput.value = '';
            }

        }

        // Gọi hàm tính toán ngay sau khi trang được tải hoàn toàn
        calculateAndDisplay();

        // Bắt sự kiện khi ngày trả thay đổi để tính lại
        returnDateInput.addEventListener('change', calculateAndDisplay);
    });
</script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const form = document.getElementById('order-form');

        form.addEventListener('submit', function (event) {
            event.preventDefault();
            const phoneInput = document.getElementById('phone');
            const phoneRegex = /^[0-9]{10,12}$/;
            if (!phoneRegex.test(phoneInput.value.trim())){
                Swal.fire({
                    icon: 'error',
                    title: 'Lỗi',
                    text: 'Vui lòng điền đúng định dạng số điện thoại.',
                });
            } else {
                form.submit();
            }
        });
    });
</script>



</body>
</html>
